<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ngRx Network State Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ngRx Network State Test</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    State is: {{ (isDeviceOnline$ | async) }}
  </div>
  <div class="ion-padding">
    <ion-button (click)="exportStore()">Export Store</ion-button>
  </div>


</ion-content>
